<%- contentFor('dashboard') %>
    <h2 class="page-header">Dashboard</h2>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <ul class="nav navbar-nav navbar-left">
            <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-user"></span> All Users </a></li>
            <% if(currentUser.role === 'Project Manager') { %>
                <li id="menu-new"><a href="/tasks/new"><span class="glyphicon glyphicon-plus"></span> Add New Task</a></li>
                <% } %>
                    <li id="menu-new"><a href="/tasks"><span class="glyphicon glyphicon-folder-open"></span> Tasks (Assigned) </a></li>
                    <li id="menu-new"><a href="/tasks/nonassignedtask"><span class="glyphicon glyphicon-folder-open"></span> Tasks (Not Assigned ) </a></li>
        </ul>
    </nav>
