<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Eagle+Lake" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet">

    <title>Task Assignment - Project 2</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-inverse">
            <!-- <a href="/" class="navbar-brand">My Site</a> -->
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/user/new">Sign Up</a></li> -->
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right">
                <li id="menu-new"><a href="/user"><span class="glyphicon glyphicon-user"></span> Photographers </a></li>

                <li id="menu-login"><a href="/photos"><span class="glyphicon glyphicon-log-in"></span> All Images</a></li>

            </ul> -->
        </nav>
    </header>


    <section class="store-head">
        <div class="store-content">
            <h2></h2>
        </div>
    </section>
    <main>
        <div class="container">
            <%- body %>
                <%- defineContent('store-login') %>


        </div>
    </main>

</body>

</html>
<footer>
    Project-2 by (Matthew Nguyen) Copyright &copy 2017
</footer>

</body>

</html>
