<%- contentFor('login') %>


    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin-top: 5%">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong class="">Login </strong>

                    </div>
                    <div class="panel-body">
                        <!-- <form class="form-horizontal" role="form" action="/login" method="POST"> -->
                        <form action="/login" method="POST">
                            <div class=" input-group col-md-12 center-div">
                                <span class="input-group-addon ">User Name:</span>
                                <input id="username" type="text " class="form-control " name="username" placeholder="User Name " required />
                            </div>
                            <br />
                            <div class=" input-group col-md-12 center-div">
                                <span class="input-group-addon ">Password:</span>
                                <input id="inputpassword " type="password" class="form-control" placeholder="Password" required name="password" />
                            </div>

                            <br>
                            <div class="form-group last">

                                <div class="col-sm-offset-3 col-sm-9">
                                    <br />
                                    <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                                    <button type="reset" class="btn btn-default btn-sm">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">Not Registered? <a href="/users/register" class="">Register here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
