<%- contentFor('login') %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin-top: 5%">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong class="">Login </strong>

                    </div>
                    <div class="panel-body">
                        <!-- <form class="form-horizontal" role="form" action="/login" method="POST"> -->
                        <form action="/users/login" method="POST">
                            <div class="form-group">
                                <label for="username" class="col-sm-5 control-label">User Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="username" placeholder="User Name" required name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputpassword" class="col-sm-4 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputpassword" placeholder="Password" required name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label class="">
                                            <input type="checkbox" class="">Remember me</label>
                                    </div>
                                </div> -->
                            </div>
                            <br>
                            <div class="form-group last">

                                <div class="col-sm-offset-3 col-sm-9">
                                    <br />
                                    <button type="submit" class="btn btn-success btn-sm">Sign in</button>
                                    <button type="reset" class="btn btn-default btn-sm">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">Not Registered? <a href="/user/new" class="">Register here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
