<%- contentFor('register') %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin-top: 5%">
                <div class="panel panel-default">
                    <div class="panel-heading"> <strong class="">Register </strong>

                        <% if(errors) { %>
                            <% for(var i = 0; i < errors.length; i++)  { %>
                                <div class="alert alert-danger">
                                    <p>
                                        <%= errors[i].msg %>
                                    </p>
                                </div>
                                <% } %>
                                    <%  } %>


                    </div>
                    <div class="panel-body">
                        <form class="" action="/users/register" method="post">
                            <fieldset>

                                <div class=" input-group col-md-12 center-div">
                                    <!-- Username -->
                                    <span class="input-group-addon ">Name:</span>
                                    <input id="name" type="text " class="form-control " name="name" placeholder="Name " required />
                                </div>
                                <br>
                                <div class=" input-group col-md-12 center-div">
                                    <span class="input-group-addon ">Role:</span>
                                    <select class="form-control " name="role" placeholder="Select user role" required />
                                    <option value=""></option>
                                    <option value="PM">Project Manager</option>
                                    <option value="Tester">Tester</option>
                                    <option value="Developer">
                                        Developer</option>

                                    </select>
                                </div>
                                <br>
                                <div class=" input-group col-md-12 center-div">
                                    <!-- Username -->
                                    <span class="input-group-addon ">Username:</span>
                                    <input id="username" type="text " class="form-control " name="username" placeholder="Enter username " required />
                                </div>
                                <br>
                                <div class=" input-group col-md-12 center-div">
                                    <!-- Username -->
                                    <span class="input-group-addon ">Password:</span>
                                    <input id="password" type="password" class="form-control " name="password" placeholder="Enter password " required />
                                </div>
                                <br>
                                <div class=" input-group col-md-12 center-div">
                                    <!-- Username -->
                                    <span class="input-group-addon ">Password (Confirm):</span>
                                    <input id="password_confirm" type="password" class="form-control " name="password_confirm" placeholder="Password Confirm " required />
                                </div>
                                <br>
                                <div class="control-group">
                                    <div class="controls">
                                        <button class="btn btn-success">Register</button>
                                    </div>
                                </div>
                            </fieldset>

                        </form>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
