<%- contentFor('sub-menu') %>
    <ul class="nav navbar-nav navbar-left">
        <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-user"></span> All Users </a></li>
        <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-plus"></span> Add Tasks </a></li>
        <li id="menu-new"><a href="/users"><span class="glyphicon glyphicon-folder-open"></span> All Tasks </a></li>
    </ul>
